@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
  <div class="grid wide">
    <div class="row">
        <div class="col l-12 m-12 c-0">
            <div class="navigation">
                <ul class="navigation-list">
                    <li>
                        <a href="">Trang chủ</a>
                        <span>&rarr;</span>
                    </li>
                    <li>
                        <a href="">Nữ</a>
                        <span>&rarr;</span>
                    </li>
                    <li>
                        <a href="" class="active">Sneaker</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col l-3 m-0 c-0">
            <nav class="category">
                <ul>
                    <li class="category-detail">
                        <a href="#">Nữ</a>
                        <ul>
                            <li><a href="#" class="active">Sneaker</a></li>
                            <li><a href="#">Giày bốt</a></li>
                            <li><a href="#">Sandal</a></li>
                        </ul>
                    </li>
                    <li class="category-detail">
                        <a href="#">Nam</a>
                        <ul>
                            <li><a href="#">Sneaker</a></li>
                            <li><a href="#">Giày bốt</a></li>
                            <li><a href="#">Sandal</a></li>
                        </ul>
                    </li>
                    <li class="category-detail">
                        <a href="#">Sale</a>
                        <ul>
                            <li><a href="#">Nữ</a></li>
                            <li><a href="#">Nam</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col l-9 m-12 c-12">
            <div class="filter hide-on-mobile hide-on-tablet">
                <div class="filter-header">
                    <span class="filter__sort">Sắp xếp theo</span>
                    <a href="ShowProductPopular" class="btn" id="btn_popular_item">
                        Phổ Biến<a>
                            <a href="ShowProductNew" class="btn btn-active" id="btn_new_item">
                                Mới Nhất<a>
                                    <a href="ShowBestSeller" class="btn" id="btn_best_seller">
                                        Bán Chạy<a>
                                            <select class="price-selection" name="forma" onchange="location = this.value;">
                                                <option class="price-sort-option" value="">----------Giá----------</option>
                                                <option class="price-sort-option" value="ShowPriceDESC">Giá: Cao đến thấp</option>
                                                <option class="price-sort-option" value="ShowPriceASC">Giá: Thấp đến cao</option>

                                            </select>
                </div>

                <div class="filter-footer">
                    <span class="page">
                        <span class="active">1</span>
                        /
                        <span class="total">10</span>
                    </span>
                    <div class="filter-footer-btn filter-footer-btn-left filter-footer-btn--disable">
                        <a href="#" class="filter-footer-link">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </div>
                    <div class="filter-footer-btn filter-footer-btn-right">
                        <a href="#" class="filter-footer-link">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>

             
            @section Script{ 
            <script>
            
                    $('#btn_popular_item').click(function () {
                        alert("da click");
                    })
                


            </script>
            <script src="~/js/jquery-3.6.0.min.js"></script>
    }