@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Product>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Tên sản phẩm</th>
    </tr>
    @foreach(var item in Model)
            {
<tr>
    <td>@item.Id</td>
    <td>@item.ProductName</td>
</tr>
            }

</table>