@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Danh sách sản phẩm";
}
<!--<form method="post" action="/product/TimSanPhamTheoTen">
     <label>Nhập tên sản phẩm</label>
    <input type="text" name="ProductName"/>
    <input type="submit" name="submit" value="Tìm"/>

</form>  -->
 