<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="~/css/base.css" rel="stylesheet" />
    <link href="~/css/grid.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <link href="~/css/header.css" rel="stylesheet" />
    <link href="~/css/products.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/slider.css" rel="stylesheet" />
    <title>Shop bán giày</title>
</head>
<body>
    <div id="main">
        <!---------------------------------------- Header ---------------------------------------->
        <header id="main-header">
            <div class="grid wide">
                <div class="header" id="header">
                    <nav class="header-nav">
                        <ul>
                            <li class="logo">
                                <a href="./index.html">
                                    <img src=".~/images/logo.png" alt="">
                                   
                                </a>
                            </li>

                            <li class="menu">
                                <div class="menu__mobile" id="menu__mobile">
                                    <p class="menu__mobile-click hide-on-pc hide-on-tablet">
                                        <i class="fas fa-bars"></i>
                                        Danh mục
                                    </p>


                                    <ul class="menu-list">
                                        <div class="login__mobile hide-on-tablet hide-on-pc">
                                            <a href="">
                                                Đăng nhập
                                                <i class="fas fa-user-circle"></i>
                                            </a>
                                        </div>
                                        <li><a href="">GIỚI THIỆU</a></li>
                                        <li class="menu-list__products">
                                            <a href="./products.html">
                                                <span>NỮ</span>
                                                <i class="fas fa-angle-down"></i>
                                            </a>
                                            <ul class="subMenu-list">
                                                <li><a href="./products.html">Sneaker</a></li>
                                                <li><a href="./products.html">Giày bốt</a></li>
                                                <li><a href="./products.html">Sandal</a></li>
                                            </ul>

                                        </li>
                                        <li class="menu-list__products">
                                            <a href="./products.html">
                                                <span>NAM</span>
                                                <i class="fas fa-angle-down"></i>
                                            </a>
                                            <ul class="subMenu-list">
                                                <li><a href="./products.html">Sneaker</a></li>
                                                <li><a href="./products.html">Giày bốt</a></li>
                                                <li><a href="./products.html">Sandal</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-list__products">
                                            <a href="./products.html" class="highlight">
                                                <span>SALE</span>
                                                <i class="fas fa-angle-down"></i>
                                            </a>
                                            <ul class="subMenu-list">
                                                <li><a href="./products.html">Nữ</a></li>
                                                <li><a href="./products.html">Nam</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="">TIN TỨC</a></li>
                                        <li><a href="">LIÊN HỆ</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="others">
                                <ul class="others-list">
                                    <li class="hide-on-mobile">
                                        <form method="get" action="/product/TimSanPhamTheoTen" class="header-search">
                                            <input name="keyword" type="text" placeholder="Tìm kiếm" title="Tìm kiếm">
                                            <button type="submit" title="Tìm kiếm">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </form>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fas fa-paw" title="Tra cứu đơn hàng"></i>
                                        </a>
                                    </li>
                                    <li class="hide-on-mobile">
                                        <a href="">
                                            <i class="fas fa-user" title="Đăng nhập"></i>
                                        </a>
                                    </li>
                                    <li class="search-cart--wrap">
                                        <a href="">
                                            <i class="fa fa-shopping-bag"></i>
                                        </a>
                                        <div class="cart__list hide-on-mobile">
                                            <img class="no-cart" src="./assets/img/no_cart.png" alt="">
                                            <span class="cart__list--empty">Chưa Có Sản Phẩm</span>

                                            <p class="cart__list-header">Sản Phẩm Mới Thêm</p>
                                            <ul class="cart__list-list">
                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu.jpg" alt="">


                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH BATA 4066 JEAN XANH BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">2.070.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">2</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu-2.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">80.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">1</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu-3.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">150.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">1</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu-4.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">2.070.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">2</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH </h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">80.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">1</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu-2.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">150.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">1</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu-3.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">2.070.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">2</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu-4.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">80.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">1</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>

                                            <div class="cart__list-footer">
                                                <button class="btn-submit ">Xem Giỏ Hàng</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <!---------------------------------------- Container ---------------------------------------->
        <div class="container">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-12 m-12 c-0">
                        <div class="navigation">
                            <ul class="navigation-list">
                                <li>
                                    <a href="">Trang chủ</a>
                                    <span>&rarr;</span>
                                </li>
                                <li>
                                    <a href="">Nữ</a>
                                    <span>&rarr;</span>
                                </li>
                                <li>
                                    <a href="" class="active">Sneaker</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-3 m-0 c-0">
                        <nav class="category">
                            <ul>
                                <li class="category-detail">
                                    <a href="#">Nữ</a>
                                    <ul>
                                        <li><a href="#" class="active">Sneaker</a></li>
                                        <li><a href="#">Giày bốt</a></li>
                                        <li><a href="#">Sandal</a></li>
                                    </ul>
                                </li>
                                <li class="category-detail">
                                    <a href="#">Nam</a>
                                    <ul>
                                        <li><a href="#">Sneaker</a></li>
                                        <li><a href="#">Giày bốt</a></li>
                                        <li><a href="#">Sandal</a></li>
                                    </ul>
                                </li>
                                <li class="category-detail">
                                    <a href="#">Sale</a>
                                    <ul>
                                        <li><a href="#">Nữ</a></li>
                                        <li><a href="#">Nam</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="col l-9 m-12 c-12">
                        <div class="filter hide-on-mobile hide-on-tablet">
                            <div class="filter-header">
                                <span class="filter__sort">Sắp xếp theo</span>
                                <div class="btn">Phổ Biến</div>
                                <div class="btn btn-active">Mới Nhất</div>
                                <div class="btn">Bán Chạy</div>
                                <select name="price-sort" id="price-sort" class="price-selection">
                                    <option value="lowtohigh" class="price-sort-option">Giá: Thấp đến cao</option>
                                    <option value="hightolow" class="price-sort-option">Giá: Cao đến thấp</option>
                                </select>
                            </div>

                            <div class="filter-footer">
                                <span class="page">
                                    <span class="active">1</span>
                                    /
                                    <span class="total">10</span>
                                </span>
                                <div class="filter-footer-btn filter-footer-btn-left filter-footer-btn--disable">
                                    <a href="#" class="filter-footer-link">
                                        <i class="fas fa-angle-left"></i>
                                    </a>
                                </div>
                                <div class="filter-footer-btn filter-footer-btn-right">
                                    <a href="#" class="filter-footer-link">
                                        <i class="fas fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="products">
                            <div class="row">
                                <div class="col l-4 m-4 c-6">
                                    <a href="" class="product">
                                        <img class="product-image" src="~/images/sneaker-nu.jpg" alt="">
                                        <h4 class="product-name">BATA 4066 JEAN XANH</h4>
                                        <p class="product-price highlight">340.000đ</p>
                                    </a>
                                </div>

                                <div class="col l-4 m-4 c-6">
                                    <a href="" class="product">
                                        <img class="product-image" src="~/images/sneaker-nu-2.jpg" alt="">
                                        <h4 class="product-name">BATA 4066 JEAN XANH</h4>
                                        <p class="product-price highlight">340.000đ</p>
                                    </a>
                                </div>

                                <div class="col l-4 m-4 c-6">
                                    <a href="" class="product">
                                        <img class="product-image" src="~/images/sneaker-nu-4.jpg" alt="">
                                        <h4 class="product-name">BATA 4066 JEAN XANH</h4>
                                        <p class="product-price highlight">340.000đ</p>
                                    </a>
                                </div>

                                <div class="col l-4 m-4 c-6">
                                    <a href="" class="product">
                                        <img class="product-image" src="~/images/sneaker-nu-3.jpg" alt="">
                                        <h4 class="product-name">BATA 4066 JEAN XANH</h4>
                                        <p class="product-price highlight">340.000đ</p>
                                    </a>
                                </div>

                                <div class="col l-4 m-4 c-6">
                                    <a href="" class="product">
                                        <img class="product-image" src="~/images/sneaker-nu.jpg" alt="">
                                        <h4 class="product-name">BATA 4066 JEAN XANH</h4>
                                        <p class="product-price highlight">340.000đ</p>
                                    </a>
                                </div>

                                <div class="col l-4 m-4 c-6">
                                    <a href="" class="product">
                                        <img class="product-image" src="~/images/sneaker-nu-2.jpg" alt="">
                                        <h4 class="product-name">BATA 4066 JEAN XANH</h4>
                                        <p class="product-price highlight">340.000đ</p>
                                    </a>
                                </div>

                                <div class="col l-4 m-4 c-6">
                                    <a href="" class="product">
                                        <img class="product-image" src="~/images/sneaker-nu-3.jpg" alt="">
                                        <h4 class="product-name">BATA 4066 JEAN XANH</h4>
                                        <p class="product-price highlight">340.000đ</p>
                                    </a>
                                </div>

                                <div class="col l-4 m-4 c-6">
                                    <a href="" class="product">
                                        <img class="product-image" src="~/images/sneaker-nu-4.jpg" alt="">
                                        <h4 class="product-name">BATA 4066 JEAN XANH</h4>
                                        <p class="product-price highlight">340.000đ</p>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="pagination">
                            <ul>   <!--pages or li are from JavaScript --> </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!---------------------------------------- Footer ---------------------------------------->
            <footer class="footer">
                <div class="grid wide footer__mobile">
                    <div class="row">
                        <div class="col l-3 m-12 c-12 footer__input">
                            </ul>
                            <h3 class="footer__heading"><b>NHẬN BẢN TIN TỪ UrShoes</b></h3>
                            <form action="" class="footer__form">
                                <input type="email" name="email" id="email" placeholder="Nhập e-mail của bạn" required>
                                <input type="submit" value="OK">
                            </form>
                        </div>
                        <div class="col l-2 m-3 c-6">
                            <h3 class="footer__heading">VỀ SHOP</h3>
                            <ul class="footer__list">
                                <li>
                                    <a href="">Giới thiệu</a>
                                </li>
                                <li>
                                    <a href="">Tuyển dụng</a>
                                </li>
                                <li>
                                    <a href="">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col l-2 m-3 c-6">
                            <h3 class="footer__heading">CHÍNH SÁCH</h3>
                            <ul class="footer__list">
                                <li>
                                    <a href="">Điều khoản</a>
                                </li>
                                <li>
                                    <a href="">Đổi trả</a>
                                </li>
                                <li>
                                    <a href="">Bảo hành</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col l-2 m-3 c-6">
                            <h3 class="footer__heading">THEO DÕI</h3>
                            <ul class="footer__list">
                                <li>
                                    <a href="">
                                        <i class="fab fa-facebook"></i>
                                        Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fab fa-instagram"></i>
                                        Instagram
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fab fa-linkedin"></i>
                                        Linkedin
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col l-2 m-3 c-6">
                            <h3 class="footer__heading">TẢI ỨNG DỤNG</h3>
                            <div class="footer__download">
                                <a href="" class="footer__download-link-QR">
                                    <img src="~/images/qrcode.png" alt="Download">
                                   
                                </a>
                                <div class="footer__download-app">
                                    <a href="" class="footer__download-link-app">
                                        <img src="~/images/googleplay.png" alt="">
                                    </a>

                                    <a href="" class="footer__download-link-app">
                                        <img src="~/images/appstore.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="footer__copyright">
                    <div class="grid wide">
                        <p>© 2021 UrShoes. Tất cả các quyền được bảo lưu.</p>
                    </div>
                </div>
            </footer>
        </div>

        
        <script src="~/js/header.js"></script>
        <script src="~/js/products.js"></script>
</body>
</html>