@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="InsertProduct" method="post">
    <label for="id">Id</label><input name="id" type="number"/><br />
    <label for="name">Name</label><input name="ProductName" type="text"/><br />
    <label for="subcategoryId">category</label><input name="subcategoryId" type="number"/><br />
    <label for="brandId">Brand</label><input name="BrandId" type="number"/><br />
    <label for="gender">Gender</label><input name="Gender" type="number"/><br />
    <label for="regularPrice">Regular Price</label><input name="regularPrice" type="number"/><br />
    <label for="salePrice">Saleprice</label><input name="regularPrice" type="number"/><br />
    <label for="description">Desc</label><input name="description" type="text"/><br />
    <input type="submit" value="submit" class="btn btn-info"/>
</form>