header {
  display: flex;
  justify-content: space-between;
  padding: 12px 50px;
  height: 70px;
  align-items: center;
  position: fixed;
  width:100%;
  top:0;
  left:0;
  z-index:1;
  background-color: rgba(255,255,255,0.4);
}

header:hover{
  background-color: rgba(255,255,255,1);
}

header.sticky{
  background-color: rgba(255,255,255,1);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}





.logo {
  flex: 1; /* chia ra 5 phần */
  
}


.menu {
  flex: 3;
}
.menu > ul {
  display: flex; /*làm các phần tử trong menu lên hàng ngang */
}

.menu > ul > li {
  padding: 0 12px;
  position: relative;
}

.menu > ul > li > a {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}
.menu > ul > li:hover .sub-menu {
  display: block;
  /* visibility: visible; */
  /* top: 30px; */
}
.menu > ul > li:hover .menu-items {
  color: #666;
}
.menu-item-sale{
  color: red;
}


.sub-menu {
  position: absolute;
  width: 150px;
  border: 1px solid #ccc;
  padding: 10px 0 10px 0;
  display: none;
  z-index: 1;
  background-color:#fff;
  /* visibility: hidden; */
  /* top: 50px;
  transition: 0.3s; */
}
/* .sub-menu  ul{
    padding-left: 20px;
} */
.sub-menu > li > a {
  font-weight: 700;
  font-size: 12px;
}
.sub-menu li > a {
  display: block;
  padding: 5px 0 5px 20px;
}
.sub-menu > li > ul > li > a {
  /* font-weight: bold ; */
  font-size: 12px;
  line-height: 18px;
  width: 100%;

  /* padding-left: 10px; */
  /* padding-right: 10px */
}

.sub-menu a:hover {
  background-color: rgb(214, 214, 214);
}

/* .menu > ul > li a{
     font-size: 12px;
     font-weight: bold !important;
     display: block;
     line-height: 20px;
} */
.others {
  flex: 1;
  display: flex;
}
.others > li {
  padding: 0 12px;
  position: relative;
}
.others li i{
    bottom:4px;
    cursor: pointer;
}
.others >li > a, .others li i{
    width:10px;
    font-size:12px;
}
.others-icon{
    width:10px;
}
.others > li:first-child {
  position: relative;
}
.others > li:first-child input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  background-color: transparent;
}
.others > li:first-child i {
  position: absolute;
  right: 10px;
}

.others > li::after {
  /*Tạo dấu | ngăn cách*/
  content: "";
  width: 1px;
  height: 80%;
  display: block;
  position: absolute;
  background: #ccc;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.others > li:last-child::after {
  display: none;
}

.others span {
  display: flex;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  padding: 0 5px 0 5px;
  align-items: center;
  height: 26px;
  border: 1px solid #ccc;
  background-color: #000;
  visibility: hidden;
  margin-top: 10px;
  color: #fff;
}
.others-login {
  width: 62px;
}
.others-follow {
  width: 94px;
}
.others a:hover span {
  visibility: visible;
  /* top: 30px;
    transition: 0.3s; */
}
.others > li > a:hover {
  color: #666;
}

.others input {
  font-size: 11px;
  line-height: 16px;
}

/* Category */

.Category{
  padding: 100px 50px 15px ;
  border-bottom: 2px  solid #000;

}
.Category-top{
  margin-bottom: 50px;
  align-items: center;
  
  color:#9999B3;
}
.Category-top a{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 12px;
  color: #9999B3;
}
.Category-top a:hover{
  color: #000;
}
.Category-top span{
  margin: 0 12px
}




.Category-left{
  width: 20%;
}

.Category-right{
  width: 80%;
}

.Category-right-top-item:first-child{
  flex: 2;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.Category-right-top-item{
  flex: 1;
  padding: 0 12px;
}

.Category-right-top-item button{
   width: 100%;
   height: 33px;
   padding: 0 7px 0 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1px solid #ccc;
   background-color:#fff;
   cursor: pointer;

}
.Category-right-top-item select{
  width: 100%;
  height: 33px;
  padding: 0 7px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  background-color:#fff;
  cursor: pointer;

}

.Category-right-content{
  margin-top: 20px;
  justify-content: space-between;
}
.Category-right-content-item{
   width: calc(25% - 12px);
   text-align: center;
   padding: 12px 0;

}

.Category-right-content-item h1{
  font-size: 12px;
  font-family:Arial, Helvetica, sans-serif;
  margin-top : 6px;
  color: #333333;
}


.Category-right-content-item img{
  width: 100%;


}

.Category-right-content-item p{
  font-size: 13px;
}

.Category-right-bottom{
  display: flex;
  justify-content: space-between;
  width:100%;
  margin: 20px 15px 0px;

}

.Category-right-bottom-item p{
    font-size: 12px;
    font-weight: 400;
}

.Category-left > ul > li{
  padding: 12px 0;
}

.Category-left > ul > li > a{

  font-size: 14px ;
  font-weight: 700;
  

}

.Category-left > ul > li >ul > li> a{
  font-size: 12px;
  font-weight: 700;
}

.category-left-submenu li {
  font-size:12px;
  padding-bottom:4px;
}

.Category-left-li > ul > li > a{
  padding-bottom: 10px;
}

.Category-left-li > ul > li> a:hover{
  text-decoration: underline;
}

.Category-left-list{
  padding-left: 10px;
}

/* .Category-left-list:hover .Category-left-a{
  color: red;
  text-decoration: underline;
} */

.Category-left-li ul{
  display: none;
}

.Category-left-li.block ul{
  display: block;
}


/* Product */
.product{
  padding: 100px 50px 20px;
  /* border-bottom: 2px solid #000; */
}
.product .container{
  border-bottom: 1px solid #ccc;
}

.product-top{
  margin-bottom: 5px;
  align-items: center;
  color: #9999B3;
}

.product-top a{
  font-size:12px;
  font-family:Arial, Helvetica, sans-serif;
  color:#9999B3;
}

.product-top span{
  margin: 0 12px;
}

.product-top a:hover{
  color: #000;
}

.product-content-left{
  width:50%;

}



.product-content-left-big-img{
  width:100%;
  /* padding-right:20px; */
}

.product-content-left-big-img img{
  width:90%;
  margin-right:50px;
}

 .product-content-left-small-img {
  width:100%;
} 
.product-content-left-small-img img{
  width:56px;
  height:56px;
}


.product-content-right{
  width:50%;
  padding-left:20px;
}

.product-content-right-name h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;

}
.product-content-right-name p{
  font-size:11px;
  color: #9999B3;
  margin: 10px 0 20px 0;
}

.product-content-right-price{
  font-size: 19px;
  font-weight:700;
}
.product-content-right-color p{
  margin: 15px 0 10px 0;
}

.product-content-right-color-img{
  border: 1px solid #000;
  width:58px;
  height:64px;
  margin-top:4px;
}

.product-content-right-color-img img{
  margin-top: 3px;
}
.product-content-right-size{
  margin-bottom: 10px;
}
.product-content-right-size p{
  margin: 15px 0 10px 0;

}

.size span{
  width:30px;
  height:30px;
  margin-right:12px;
  border: 1px solid #000;
  display:inline-block;
  text-align : center;
  padding: 5px 5px 3px 5px;
  font-size:11px;
}
.product-content-right-quantity input{
  width: 40px;
    text-align: center;
    margin-left: 10px;
}

.product-content-right-quantity{
  margin: 5px 0 15px 0;
}
 .product-content-right-button button{
   width:160px;
   height: 40px;
   display: block;
   margin: 20px 0 12px;
  
} 
.product-content-right-button button:first-child{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  cursor: pointer;


}
.product-content-right-button button:first-child:hover{
  background-color: #000 ;
  color: #fff;
}

.product-content-right-button button:last-child{
  color: #BF8A49;
  border: 2px solid #BF8A49;
  background-color: #fff;
}

.product-content-right-icon-item{
  display: flex;
  justify-content: space-between;
  font-size:12px;
  font-family:Arial, Helvetica, sans-serif;
  margin-right:10px;
}

.product-content-right-icon-item i{
  margin-right:5px;
}

.product-content-right-bottom{
    margin-top:40px;
    border-top: 1px solid #ccc;
    position: relative;
}


.product-content-right-bottom-top{
  position: absolute;
  width:20px;
  height:20px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  top:-9px;
  left:50%;
  background-color:#fff;
  border-radius: 50%;
  align-items: center;
  z-index: 1;
  cursor:pointer;
}

.product-content-right-bottom-top i{
  color: #ccc;
  font-size:11px;
}

.product-content-right-bottom-content{
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
}

.product-content-right-bottom-content-title{
  border-bottom:2px solid #ccc;
  margin-top: 40px;
}
.product-content-right-bottom-content-title-item{
  padding-bottom:8px;
  margin-right:35px;
  cursor:pointer;
}

.product-content-right-bottom-content-description{
  padding-top:30px;
}
.product-content-right-bottom-content-description-detail-summary{
  width:100%;
}

.product-content-right-bottom-content-description-detail-summary-right{
  width:50%;
  
}

.product-content-right-bottom-content-description-detail-summary-right p{
  font-weight:700;
  padding-bottom:20px;
}
.product-content-right-bottom-content-description-detail-summary-left p {
  padding-bottom:20px;
}
/* .product-content-right-bottom-content-description-detail-summary-item{
  justify-content:space-between;
  padding-bottom: 20px;

} */
.product-content-right-bottom-content-description-detail-title{
  border-bottom:1px solid #ccc;
  padding-bottom:10px;
  margin-bottom:20px;
}

.product-content-right-bottom-content-description-guarantee{
  display: none;
}
.product-content-right-bottom-content-description-guarantee table{
  border: 1px solid #ccc;
  border-collapse: collapse;
  text-align: center;
  font-size:12px;
}
.product-content-right-bottom-content-description-guarantee th{
  height:50px;
  border: 1px solid #ccc;
}
.product-content-right-bottom-content-description-guarantee td{
  width:calc(100% / 3);
  height:80px;
  border: 1px solid #ccc;
}
.product-content-right-bottom-content-description-guarantee tr{
  border: 1px solid #ccc;

}

.activeB{
  display: none;
}

/* Product-relate */

.product-related{
  margin: 0 50px 50px 50px;
  border-top:1px solid #ccc;
  
}

.product-related-title{
  margin: 20px 0;
}
.product-related-title p{
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight: 700;

}

.product-content-item{
  width:25%;
  text-align: center;
  /* margin-right:6px; */
  font-size:12px;
  /* margin-right: 12px; */
}

.product-content-item a{
  font-weight:700;
}
.product-content-item span{
    color:#ccc;
    text-decoration:line-through;
}
.product-content-item img{
  width: 100%
}

/* Cart */
.cart{
  padding: 100px 50px 20px;
}
/* .cart-top-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
} */

.cart-top{
   height:2px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width:60%;
   font-size: 12px;
   margin:20px 180px 100px;
   border-top:1px solid #ccc;
}
.cart-top-item{
  background-color:#fff;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  width:40px;
  height:40px;
  border:1px solid #ccc;
 
}

.cart-top-item i{
  color:#ccc;
}

.cart-top-bag{
  border: 1px solid #0DB7EA;
}
.cart-top-bag i{
  color:#0DB7EA;
}

.cart-content-left{
  flex:2;
  padding-right:12px;
}

.cart-content-left table{
  width:100%;
  text-align:center;
  border-collapse: collapse;
}

.cart-content-left table th{
  padding-bottom:10px;
  font-size:12px;
  font-family: Arial, Helvetica, sans-serif;
  color:#666;
  border-bottom: 1px solid #ccc;
 
}
.cart-content-left table input{
  width:30px;
  border:1px solid #ccc;
}
.cart-content-left table button{
  width:20px;
  background-color:#fff;
  border:1px solid #ccc;
  font-size:12px;
}
.cart-content-left table td{
  border-bottom: 1px solid #ccc;
  width: calc(100% / 7);
  padding:8px;
  font-size:12px;
  
}

.cart-content-right{
  flex:1;
  padding-left:6px;
  border-left:1px solid #ccc;
}
.cart-content-right table{
  width:100%;
  border-collapse:collapse;

}
.cart-content-right table th{
  font-size:12px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom:10px;
  color:#333;
  border-bottom:1px solid #ccc;
}

.cart-content-right table td{
  /* border-bottom:1px solid #ccc; */
  font-size:11px;
  font-family: Arial, Helvetica, sans-serif;
  color:#333;
  padding: 6px 0;
}

.cart-content-right tr:nth-child(4){
  border-bottom:1px solid #ccc;

}

/* slider */


.aspect-ratio-169 {
  display: block;
  position: relative;
  padding-top: 56.25%;
  transition : 0.3s;
}

.aspect-ratio-169 img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
 
}

.dot-container{
  position: absolute;
  height: 30px;
  width:100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#slider{
  padding-bottom: 30px;
  border-bottom: 2px solid #000;
  overflow: hidden;
}
.dot{

 width:12px;
 height: 12px;
 margin-right: 10px;
 background-color: #ccc;
 border-radius: 50%;
 cursor:pointer;
}

.dot.active{
  background-color: #333;
}


/* app footer */
.app-container {
  text-align: center;
  align-items: center;
  padding: 150px 0 50px 0;
  border-top: 2px solid #000;
}

.app-container p {
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 17px;
  color: #000;
  font-weight: bold;
}

.app-container input {
  margin-top: 50px;
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
  width: 400px;
  text-align: center;
  outline: none;
  font-size: 12px;
  line-height: 18px;
}
.app-google {
  margin: 50px;
}
.app-google img {
  height: 50px;
}

/* footer */

footer {
    /* position: absolute; */
    left: 0;
    bottom: 0;
    /* height: 100px; */
    width: 100%;
}
.footer-top > ul {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  height: 20px;
}
.footer-top > ul > li {
  padding: 0 12px;
  position: relative;
  font-size: 12px;
  font-weight: 700;
}
.footer-top img {
  height: 50px;
}

.footer-top > ul > li::after {
  /*Tạo cái đường | ngăn cách*/
  content: "";
  display: block;
  width: 1px;
  height: 80%;
  background: #ccc;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer-top > ul > li:last-child::after {
  /*bỏ cái đường | ở phân tử cuối*/
  display: none;
}
.footer-top > ul > li:last-child a {
  margin-right: 12px;
  color: #333;
}

.footer-center {
  text-align: center;
  font-size: 11px;
}

.footer-bottom {
  height: 37px;
  text-align: center;
  margin-top: 10px;
  padding: 10px 0 10px 0;
  background-color: rgb(248, 248, 248);
  font-size: 11px;
  /* margin-bottom:0; */
}




/* Reponsive */
/* mobile <740px */
/* tablet >=740px and <1024px */
/* pc >=1024px */

.menu-mobile {
    position: fixed;
    top: 60px;
    left:0;
    right:0;
    bottom: 0;
    width:100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
    display: none;
}

.sub-menu-mobile{
    /* position: absolute; */
    background-color:red;
    display: none;


}

.menu-icon-bar{
  width:20px ;
  height:20px;
  display: none;
  
}

.logo-mobile{
  width:120px;
  height:30px;
  position: relative;
  top:-1px;
  right:10px;
  display: none;
}
.others-mobile{
  display: none;
}
.search__mobile{
  width:100%;
  position: absolute;
  top: 60px;
  margin: 0 12px;
  display: none;
}

@media (max-width: 740px){

  .menu-icon-bar{
    
    /* display: flex;
    position: relative;
    left : 10px; */
    /* flex-direction: row-reverse; */
    display: block;
  }
  .menu{
    display: none;
  }
.menu-mobile-user{
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.search__mobile{
  display: flex;
  
}
.search__mobile input{
  margin: 0 10px 0 20px;
  width:70%;
  border : none;
  border-bottom: 1px solid #000;
  outline: none;
}
.search__mobile button{
  font-size: 12px;
  outline: none;
  font-weight: 700;
  border: none;
  background:#fff;
}
  .logo{
    display: none;
  }
  
   .others{
     display: none;
   }

   .logo-mobile{
     display: block;
   }

  header{
    padding : 12px 15px 0 15px;
    height: 60px;
  }

  .nav__mobile{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .others-mobile{
    display: flex;
    position: relative;
    right: calc(100% - 97%);
  }

  #slider{
    position: relative;
    top:100px;
  }
  
.others-mobile a{
  padding-right:20px;
}

.footer-center, .footer-bottom{
  display: none;
}
.footer-top > ul{
  flex-wrap: wrap;
}

.icon-dropdown{

  position: absolute;
  right: 20px;
  color: #000;
  font-size: 20px;
}
.menu-mobile a{
  
  display: block;
  padding-left:20px;
  font-weight:700;
  padding-top:20px;
}
  /* .menu-mobile{
    display: block;
  } */
}