/* Product */
.product{
    padding: 100px 50px 20px;
     border-bottom: 2px solid #000; 
  }
  .product .container{
    border-bottom: 1px solid #ccc;
  }
  
  .product-top{
    margin-bottom: 5px;
    align-items: center;
    color: #9999B3;
  }
  
  .product-top a{
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    color:#9999B3;
  }
  
  .product-top span{
    /* margin: 0 12px; */
  }
  
  .product-top a:hover{
    color: #000;
  }
  
  .product-content-left{
    width:50%;
  
  }
  .product-content-left{
   display: flex;
   flex-wrap: wrap;
  }
  
  
  
  .product-content-left-big-img{
    width:100%;
    /* padding-right:20px; */
  }
  
  .product-content-left-big-img img{
    width:90%;
    
  }
  
   .product-content-left-small-img {
    width:100%;
  } 
  .product-content-left-small-img img{
    width:100%;
    height:20%;
    padding-bottom:10px;
  }
  
  
  .product-content-right{
    width:50%;
    padding-left:5px;
  }
  
  .product-content-right-name h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
  
  }
  .product-content-right-name p{
    font-size:11px;
    color: #9999B3;
    margin: 10px 0 20px 0;
  }
  
  .product-content-right-price{
    font-size: 19px;
    font-weight:700;
  }
  .product-content-right-color p{
    margin: 15px 0 10px 0;
  }
  
  .product-content-right-color-img{
    border: 1px solid #000;
    width:58px;
    height:58px;
    margin-top:4px;
  }
  
  .product-content-right-color-img img{
    margin-top: 3px;
    margin-left:3px;
  }
  .product-content-right-size{
    margin-bottom: 10px;
  }
  .product-content-right-size p{
    margin: 15px 0 10px 0;
  
  }
  
  .size span{
    width:30px;
    height:30px;
    margin-right:12px;
    border: 1px solid #000;
    display:inline-block;
    text-align : center;
    padding: 5px 5px 3px 5px;
    font-size:11px;
  }
  .product-content-right-quantity input{
    width: 40px;
      text-align: center;
      margin-left: 10px;
  }
  
  .product-content-right-quantity{
    margin: 5px 0 15px 0;
  }
   .product-content-right-button button{
     width:160px;
     height: 40px;
     display: block;
     margin: 20px 0 12px;
    
  } 
  .product-content-right-button button:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    cursor: pointer;
  
  
  }
  .product-content-right-button button:first-child:hover{
    background-color: #000 ;
    color: #fff;
  }
  
  .product-content-right-button button:last-child{
    color: #BF8A49;
    border: 2px solid #BF8A49;
    background-color: #fff;
  }
  .product-content-right-icon{
    display:flex;
    flex-wrap: wrap;
  }
  
  .product-content-right-icon-item{
    display: flex;
    justify-content: space-between;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    margin-right:10px;
  }
  
  .product-content-right-icon-item i{
    margin-right:5px;
  }
  
  .product-content-right-bottom{
      margin-top:40px;
      border-top: 1px solid #ccc;
      position: relative;
  }
  
  
  .product-content-right-bottom-top{
    position: absolute;
    width:20px;
    height:20px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    top:-9px;
    left:50%;
    background-color:#fff;
    border-radius: 50%;
    align-items: center;
    z-index: 1;
    cursor:pointer;
  }
  
  .product-content-right-bottom-top i{
    color: #ccc;
    font-size:11px;
  }
  
  .product-content-right-bottom-content{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
  }
  
  .product-content-right-bottom-content-title{
    border-bottom:2px solid #ccc;
    margin-top: 40px;
  }
  .product-content-right-bottom-content-title-item{
    padding-bottom:8px;
    margin-right:35px;
    cursor:pointer;
  }
  .product-content-right-bottom-content-description-detail-summary{
    display: flex;
    flex-wrap: wrap;
  }
  .product-content-right-bottom-content-description{
    padding-top:30px;
  }
  .product-content-right-bottom-content-description-detail-summary{
    width:100%;
  }
  
  .product-content-right-bottom-content-description-detail-summary-right{
    width:50%;
    
  }
  
  .product-content-right-bottom-content-description-detail-summary-right p{
    font-weight:700;
    padding-bottom:20px;
  }
  .product-content-right-bottom-content-description-detail-summary-left p {
    padding-bottom:20px;
  }
  /* .product-content-right-bottom-content-description-detail-summary-item{
    justify-content:space-between;
    padding-bottom: 20px;
  
  } */
  .product-content-right-bottom-content-description-detail-title{
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
    margin-bottom:20px;
  }
  
  .product-content-right-bottom-content-description-guarantee{
    display: none;
  }
  .product-content-right-bottom-content-description-guarantee table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    text-align: center;
    font-size:12px;
  }
  .product-content-right-bottom-content-description-guarantee th{
    height:50px;
    border: 1px solid #ccc;
  }
  .product-content-right-bottom-content-description-guarantee td{
    width:calc(100% / 3);
    height:80px;
    border: 1px solid #ccc;
  }
  .product-content-right-bottom-content-description-guarantee tr{
    border: 1px solid #ccc;
  
  }
  
  .activeB{
    display: none;
  }

  .product-content-right-bottom-content-title{
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Product-relate */
  
  .product-related{
    margin: 0 50px 50px 50px;
    border-top:1px solid #ccc;
    
  }
  
  .product-related-title{
    margin: 20px 0;
  }
  .product-related-title p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight: 700;
  
  }
  
  .product-content-item{
    width:25%;
    text-align: center;
    /* margin-right:6px; */
    font-size:12px;
    /* margin-right: 12px; */
  }
  
  .product-content-item a{
    font-weight:700;
  }
  .product-content-item span{
      color:#ccc;
      text-decoration:line-through;
  }
  .product-content-item img{
    width: 100%
  }
  