/******************** Products ********************/
.container {
    margin-top: 80px;
    padding-top: 20px;
}

/* Navigation */
.navigation > ul {
    list-style: none;
    display: flex;
}

.navigation > ul span {
    margin: 0 8px;
}

/* Category */
.category {
    margin-top: 20px;
}

.category ul {
    list-style: none;
}

.category > ul > li > a {
    font-weight: bold;
    cursor: default;
}

.category ul ul {
    padding-left: 16px;
    margin-bottom: 12px;
}

.category a {
    display: inline-block;
    padding: 4px 0;
}

/* Filter */
.btn {
    padding: 3px 16px; 
    line-height: 24px;
    border: none;
    background-color: #fff;
    color: #000;
    display: inline-flex;
    cursor: pointer;
    outline: 0;
}

.btn-active {
    background-color: red;
    color: #fff;
}

.filter {
    font-size: 14px;
    padding: 16px;
    background-color: #ecebec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.filter__sort {
    margin-right: 8px;
}

.btn + .btn {
    margin-left: 8px;
}

.price-selection {
    outline: none;
    border: none;
    background-color: #fff;
    margin-left: 8px;
    padding: 8px 12px;
    min-width: 150px;
}

.price-sort-option {
    line-height: 24px;
}

.filter-footer {
    display: flex;
    align-items: center;
}

.page {
    display: inline-block;
    margin-right: 20px;
}

.filter-footer-btn {
    background-color: #fff;
}

.filter-footer-btn--disable {
    background-color: #f7f7f7;
}

.filter-footer-btn--disable .filter-footer-link {
    cursor: default;
}

.filter-footer-btn--disable i {
    color: #d3d2d3;
}

.filter-footer-btn + .filter-footer-btn {
    margin-left: 2px;
}

.filter-footer-link {
    display: inline-block;
    padding: 0 12px;
    line-height: 30px;
}

/* Product */
.product {
    text-align: center;
    margin-bottom: 12px;
    display: inline-block;
    width: 100%;
}

.product-image {
    width: 100%;
    object-fit: contain;
}

.product-name {
    margin: 12px 0 4px;
}

.product-price {
    font-weight: bold;
}

/* Pagination */
.pagination {
    margin-top: 48px;
    margin-bottom: 32px;
}

.pagination ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #fff;
    list-style: none;

}
.pagination ul li {
    --height: 32px;
    height: var(--height);
    width: var(--height);
    line-height: var(--height);
    margin: 0 4px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination li.active,
.pagination ul li.numb:hover,
.pagination li:first-child:hover,
.pagination ul li:last-child:hover{
    color: #fff;
    background: red;
}
