@model List<object>
@{
    ViewData["Title"] = "Doanh Thu";
}

<h2>Doanh thu theo tháng</h2>
<table border="1">
    <tr>
        <th>Tháng trong năm</th>
        <th>Doanh thu</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.GetType().GetProperty("year").GetValue(item, null)
            </td>
            <td>
                @item.GetType().GetProperty("tong").GetValue(item, null)
            </td>
        </tr>
    }
</table>
