@model List<object>
@{
    ViewData["Title"] = "Liệt số lượng giày";
}

<h2>Số lượng giày</h2>
<table border="1">
    <tr>
        <th>Tên giày</th>
        <th>Số lượng giày</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.GetType().GetProperty("tengiay").GetValue(item,null)
            </td>
            <td>
                @item.GetType().GetProperty("soluong").GetValue(item, null)
            </td>
        </tr>
    }
</table>
